.sign-up-container {
  height: 100%;
}

.google-auth-btn {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: white;
}

.login-input {
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  color: #404040;
  border: 2px solid transparent;
}

.disabled-btn {
  background-color: grey;
  color: white;
}

.login-btn,
.demo-user-btn {
  width: 300px;
  height: 40px;
  background-color: #ff0072;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover,
.demo-user-btn:hover {
  background-color: #e6006f;
  cursor: pointer;
}

.error-message {
  color: red;
  max-width: 300px;
  word-wrap: break-word;
  margin-bottom: 10px;
  font-size: small;
}

.login-h1 {
  text-align: center;
}

.google-login-text {
  color: white;
}

/* Dark Mode */
.dark .login-h1,
.dark .google-login-text {
  color: #ff7eb3;
}

.dark .login-form {
  color: white;
  background-color: #323232;
}

.dark .login-input {
  color: white;
  background-color: #282c35;
}

.dark .login-btn {
  color: white;
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  color: #ffffff;
}
.dark .demo-user-btn {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .login-btn:hover {
  background-image: linear-gradient(to right, #ff5678 0%, #ff6ea1 100%);
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .demo-user-btn:hover {
  background-color: #444444;
  color: #ffffff;
}

/* Light Mode */
.light .login-h1,
.light .google-auth-btn {
  color: #ffa69e;
}

.light .login-form {
  color: white;
  background-color: #fafafa;
  color: #333333;
}

.light .login-input {
  color: #404040;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.light .login-btn {
  background-image: linear-gradient(to right, #ffa69e 0%, #ffc3a0 100%);
  color: #333333;
}
.light .demo-user-btn {
  background-color: #ff0072;
  color: white;

  background-color: #ffffff;
  color: #333333;
}

.light .login-btn:hover {
  background-image: linear-gradient(to right, #ffb3b3 0%, #ffd1c1 100%);
  color: #333333;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.light .demo-user-btn:hover {
  background-color: #f5f5f5;
  color: #333333;
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.disabled-btn,
.login-btn:disabled,
.login-btn:disabled:hover,
.login-btn:disabled:focus,
.login-btn:disabled:active {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

/* Media Query */
@media screen and (max-width: 599px) {
  .login-input,
  .login-btn,
  .demo-user-btn,
  .google-auth-btn,
  .error-message {
    width: 90%;
  }
}
