.sign-up-container{
  height:100%;
 }

 .google-auth-btn {
   width: 300px;
   height: 40px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
   background-color: transparent;
   color: white;
 }

 .login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding: 20px;
   /* background-color: #404040; */
   color: white;
 }

 .login-input {
   width: 300px;
   height: 40px;
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 10px;

   background-color: #F0F0F0;
   color: #404040;
   border: 1px solid #ff0072;
 }

.disabled-btn {
  background-color: grey;
  color: white;
}

 .login-btn, .demo-user-btn {
   width: 300px;
   height: 40px;
   background-color: #ff0072;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
 }

.login-btn:hover, .demo-user-btn:hover {
  background-color: #e6006f;
  cursor: pointer;
}

.error-message {
  color: red;
  max-width: 300px;
  word-wrap: break-word;
  margin-bottom: 10px;
  font-size: small;
}


 .login-h1 {
   text-align: center;
 }


.google-login-text {
  color:white;
}

/* Dark Mode */
.dark .login-h1,
.dark .google-login-text {
  color: #ff7f47;
}

.dark .login-form {
  color: white;
}

.dark .login-input {
  color: white;
  background-color: #282c35;
}

.dark .login-btn,
.dark .demo-user-btn {
  background-color: #ff7f47;
  color: white;
}

.dark .login-btn:hover,
.dark .demo-user-btn:hover {
  background-color: #fd6a2b;
}

/* Light Mode */
.light .login-h1,
.light .google-auth-btn {
  color: #ff0072;
}

.light .login-form {
  color: white;
}

.light .login-input {
  color: #404040;
  background-color: #F0F0F0;
}

.light .login-btn,
.light .demo-user-btn {
  background-color: #ff0072;
  color: white;
}

.light .login-btn:hover,
.light .demo-user-btn:hover {
  background-color: #e60066;
}




.disabled-btn,
.login-btn:disabled,
.login-btn:disabled:hover,
.login-btn:disabled:focus,
.login-btn:disabled:active {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}



/* Responsive Design */
@media screen and (max-width: 599px) {
  .login-input, .login-btn, .demo-user-btn, .google-auth-btn, .error-message {
    width: 90%;
  }
}
