
.explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-grid {
  width: 67%;
}

.no-posts-message {
  text-align: center;
  margin-top: 20px;
}
