.photo-item {
  margin-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.photo-item .image-wrapper {
  position: relative;
  display: inline-block;
}

.photo-item .favorite-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
.photo-item .favorite-icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.photo-item img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.add-to-album-modal-trigger {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  z-index: 10;
}

.add-to-album-modal-trigger:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.add-to-album-icon {
  color: #4caf50;
}
