.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.pagination-btn:hover {
  /* background-color: #c89666;
  color: #303030;
  border-color: #c89666; */
}

.pagination-btn.active {
  /* background-color: #12343b;
  color: white; */
  font-weight: 600;
}

.pagination-btn.disabled {
  /* background-color: #e0e0e0;
  color: #9e9e9e; */
  cursor: not-allowed;
}

.pagination-icon {
  /* color: #606060; */
  font-size: 12px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination-btn {
  border: none;
  /* background-color: #046169;  */
  /* color: #fff;  */
  cursor: pointer;
  padding: 0;
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.pagination-btn:hover {
  /* background-color: #10898d;  */
  /* color: #fff;  */
  /* border-color: #10898d;  */
}
.pagination-btn.active {
  /* background-color: #02474d;  */
  /* color: white; */
  font-weight: 600;
}

.pagination-btn.disabled {
  /* background-color: #e0e0e0; */
  /* color: #9e9e9e; */
  cursor: not-allowed;
}

.pagination-icon {
  /* color: #606060; */
  font-size: 12px;
}

.light .pagination {
  background-color: transparent;
}

.light .pagination-btn {
  background-color: #ff0072;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.light .pagination-btn:hover {
  background-color: #e60066;
}

.light .pagination-btn.active {
  background-color: #ff0072;
  color: white;
}

.light .pagination-btn.disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
}

.light .pagination-icon {
  color: #606060;
}

.dark .pagination {
  background-color: #282c35;
}

.dark .pagination-btn {
  background-color: #ff7f47;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.dark .pagination-btn:hover {
  background-color: #fd6a2b;
}

.dark .pagination-btn.active {
  background-color: #ff7f47;
  color: white;
}

.dark .pagination-btn.disabled {
  background-color: #333333;
  color: #9e9e9e;
}

.dark .pagination-icon {
  color: white;
}


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .pagination {
    padding: 5px;
    gap: 3px;
  }

  .pagination-btn {
    padding: 5px 10px;
    font-size: 12px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
  }

  .pagination-icon {
    font-size: 10px;
  }

  .pagination-btn:not(.active):not(:first-child):not(:last-child) {
    display: none;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .pagination {
    padding: 5px;
    gap: 3px;
  }

  .pagination-btn {
    padding: 5px 10px;
    font-size: 12px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
  }

  .pagination-icon {
    font-size: 10px;
  }

  .pagination-btn:not(.active):not(:first-child):not(:last-child) {
    display: none;
  }
}
