.user-profile-container {
  background-color: #fff;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.user-initials {
  background-color:goldenrod;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 24px;
  margin: 0 auto 20px auto;
  font-weight: bold;
}

.user-name {
  color: #484848;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
}

.user-details {
  list-style-type: none;
  padding: 0;
  color: #484848;
}

.user-details li {
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid #ebebeb;
}

.user-details li:last-child {
  border-bottom: none;
}

.user-details strong {
  color: goldenrod;
  margin-right: 10px;
}
