.photo-stream-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.album-management-banner {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
}

.album-management-banner h2 {
  font-size: 24px;
}

.album-management-banner p {
  font-size: 16px;
}

.user-details-container {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.banner-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.user-details,
.owner-details {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  gap: 20px;
  width: 400px;
  position: relative;
}

.owner-details {
  margin-top: -220px;
}

.back-button {
  background-color: transparent;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
  margin: 4px 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #a64d00;
}

.back-button:focus {
  outline: none;
}

.back-button .faArrowLeft {
  margin-right: 8px;
  vertical-align: middle;
}

.edit-icon-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.profile-picture-container:hover .edit-icon-overlay {
  opacity: 1;
}

.album-navigation {
  margin-bottom: 20px;
}

.album-navigation a {
  text-decoration: none;
  margin: 0 20px;
  padding: 10px;
  font-weight: bold;
  transition: color 0.3s;
}

.photo-grid {
  display: flex;
  margin-left: -15px;
  margin-top: 18px;
  width: auto;
  gap: 0px;
}

.photo-grid_column {
  padding-left: 5px;
  padding-right: 5px;
}

.create-post-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 23px;
  cursor: pointer;
  margin-bottom: 10px;
}

.no-content-message {
  text-align: center;
  margin-top: 20px;
}
.no-content-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.create-post-container {
  margin-bottom: 20px;
}

/* Dark Mode */
.back-button:hover {
  background-color: #a64d00;
}

/* Dark Mode */
.dark .album-management-banner {
  background-color: #a64d00;
  color: #fff;
}

.dark .user-details,
.dark .owner-details {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}

.dark .edit-icon-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.dark .edit-icon {
  color: white;
}

.dark .album-navigation a {
  color: white;
}

.dark .album-navigation a.active,
.dark .album-navigation a:hover {
  border-bottom-color: #ff7eb3;
}

.dark .create-post-button {
  background-color: #ff7eb3;
  color: white;
}

.dark .create-post-button:hover {
  background-color: #ff5678;
}

/* Light Mode Styles */
.light .album-management-banner {
  background-color: #ffb3c1;
  color: #fff;
}

.light .user-details,
.light .owner-details {
  background-color: rgba(0, 0, 0, 0.7);
  color: #404040;
}

.light .edit-icon-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.light .edit-icon {
  color: #404040;
}

.light .album-navigation a {
  color: #404040;
}

.light .album-navigation a.active,
.light .album-navigation a:hover {
  border-bottom-color: #ffa69e;
}

.light .create-post-button {
  background-color: #ffa69e;
  color: white;
}

.light .create-post-button:hover {
  background-color: #ff7eb3;
}

@media (max-width: 767px) {
  .back-button,
  .create-post-button {
    padding: 8px 15px;
    font-size: 12px;
  }

  .album-management-banner h2 {
    font-size: 16px;
  }

  .no-content-message h1,
  .about-section p {
    font-size: 14px;
  }

  .photo-stream-container {
    padding: 5px;
    margin: 5px;
  }

  .create-post-container {
    text-align: center;
    margin-bottom: 15px;
  }
}
