.post-detail-container {
  width: 100%;
}

.banner {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.user-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;

  width: 432px;

}

.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-name {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.post-info-container {
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-top: 30px;
}

.image-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Media query for phone screens */
@media (max-width: 600px) {
  .banner-image {
    height: 250px;
  }

  .user-details {
    padding: 5px;
    width: auto;
  }

  .profile-picture {
    width: 40px;
    height: 40px;
  }

  .user-name {
    font-size: 20px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .image-grid img {
    height: 150px;
  }
}
