/* OpenModalMenuItem.css */
.open-modal-menu-item {
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s, box-shadow 0.2s;
  width: 100%;
  text-align: left;
}

.open-modal-menu-item:hover {
  background-color: #e2e2e2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.open-modal-menu-item:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}
