/* .center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1002px;
  margin: 53px auto 0;
  background-color: #ffffff;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.post-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.post-item:hover h3 {
  transform: translateY(0);
}

.main-image {
  width: 494px;
  height: 200px;
  object-fit: fill;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.25rem;
}

.main-image:hover {
  transform: scale(1.1);
}

.user-details-in-all-posts {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}
.profile-picture-get-posts {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-title-username-div {
  width: 100%;
  margin-left: 10px;
}

.post-title-h3 {
  font-style: oblique;
  font-weight: 600;
  width: 100%;
}

.post-title-p {
  color: #6c757d;
  width: 100%;
} */


/* Responsive Design */
/* @media (min-width: 768px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media (min-width: 992px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media (min-width: 1200px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
} */

/* GetPosts CSS */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.center-container {
  /* height: 100vh; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.posts-container {
  /* overflow-y: auto; */
  max-height: calc(100% - 40px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;

  /* overflow: hidden; */
  flex-grow: 1;
}




.post-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-clip: padding-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  border-radius: 5px;

  max-height: calc((100vh - 40px) / 2);
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px 5px 0 0;

  max-height: 100%;
}

.main-image:hover {
  transform: scale(1.05);
}

.user-details-in-all-posts {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.profile-picture-get-posts {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-title-username-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-title-h3 {
  margin: 0;
  font-style: oblique;
  font-weight: 600;
}

.post-title-p {
  margin: 5px 0 0;
  color: #6c757d;
}


@media (min-width: 768px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .posts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .posts-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
