.aws-main-container {
  cursor: pointer;
}
.progress-container {
  margin-top: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 20px;
  background-color: #4caf50;
  width: 0%;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
}
