.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


/* Navbar Styles */
.navbar {
  color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  /* border-bottom: 2px solid #707070; */
  z-index: 1000;
  position: relative;
  transition: background-color 0.3s ease;
}

.navbar-content{
  padding: 0.5rem 1rem;
  background-color: #404040;
  border-bottom: 2px solid #707070;

}
.navbar-logo img {
  height: 50px;
  border-radius: 50%;
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links .menu {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.navbar-links li {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.pop-modal-trigger {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.explore-icon {
  gap: 15px;
}
.pop-modal-trigger:hover .modal {
  display: block;
}

.profile-btn, .theme-toggle {
  display: flex;
  align-items: center;

}

/* Dark Mode Style */
.dark .navbar .navbar-content {
  background-color: #404040;
  color: #ffffff;
  background-color: #2D2D2D;
}

.dark .navbar-links li a,
.dark .white-icon {
  color: white;

}

.dark .navbar-links li a:hover,
.dark .navbar-links li a.active {
  color: #ff7f47;
  border-bottom: 2px solid #FF7EB3;
}

/* Light Mode Style */
.light .navbar {
  background-color: #F0F0F0;
  color: #404040;

}
.light .navbar-content {
  background-color: #F0F0F0;
}

.light .navbar-links li a,
.light .white-icon {
  color: #404040;
  color: #333333;
}
.light .navbar-links li a:hover,
.light .navbar-links li a.active {
  color: #ff0072;
  border-bottom: 2px solid #FFA69E;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
      flex-direction: column;
  }

  .navbar-links.responsive {
      display: flex;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      flex-direction: column;
      align-items: center;
  }

  .navbar-links.responsive li {
      margin: 1rem 0;
  }
}
