.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  background-color:#032f3c;
  /* background-color: #b3916d; */
  /* background-color: rgba(21,21,23,.95); */
  color: #212124;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-bottom: 2px solid #12343b;
  position: relative;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo {
  flex-shrink: 0;
}

.logo-img {
  border-radius: 50%;
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #e1b382;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover,
.navbar-links li a.active {
  color: white;
}

.pop-modal-trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pop-modal-trigger:hover .modal {
  display: block;
}

.fa-camera-retro,
.fa-images,
.fa-user-circle {
  font-size: 1.2em;
}

.white-icon {
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
}
