.login-modal {
  position: absolute;
  background-color: white;
  color: #404040;
  border-radius: 10px;
  height: 368px;
  cursor: pointer;
}
.signup-modal {
  position: absolute;
  background-color: white;
  color: #404040;
  border-radius: 10px;
  height: 660px;
  cursor: pointer;
}
.login-modal:hover,
.signup-modal:hover {
  background-color: #f0f0f0;
}
.profile-btn-ul{
  cursor: pointer;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  width: 100%;
    padding: 0;
    list-style-type: none;
}
.profile-button-container {
  position: relative;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.profile-icon {
  color: white;
  font-size: 2rem;
  transition: color 0.3s;
}

.profile-icon:hover {
  color: rgb(195, 195, 195);
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 220px;
  padding: 10px 0;
  z-index: 1000;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  border: 1px solid #DDD;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-info, .logout, .center-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 4px;
  width: 100%;
  color: #404040;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.divider {
  height: 1px;
  background-color: #DDD;
  margin: 0 15px;
  width: calc(100% - 30px);
  align-self: center;
}

.username, .email {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.username {
  font-weight: bold;
}

.center-menu .black-text-button {
  border: none;
  cursor: pointer;
  font-size: large;
  transition: color 0.3s;
  width: 100%;
  text-align: center;
}

.logout-btn {
  background-color: #FFA69E;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: calc(100% - 20px);
  text-align: center;
  color: white;
  padding: 10px 15px;
}

.logout-btn:hover, .center-menu:hover .black-text-button:hover {
  background-color: #FF7EB3;
}

.black-text-button:first-child {
  border-top: none;
}

.black-text-button:hover {
  background-color: #FF7EB3;
}

/* Light Mode Style */
.light .profile-button-container,
.light .profile-dropdown,
.light .profile-info,
.light .logout,
.light .center-menu {
  color: #404040;
}

.light .profile-icon {
  color: #404040;
}

.light .profile-icon:hover {
  color: #FFA69E;
}

.light .logout-btn {
  background-color: #FFA69E;
}

.light .logout-btn:hover {
  background-color: #FF7EB3;
}

/* Dark Mode Style */
.dark .profile-dropdown,
.dark .profile-info,
.dark .logout,
.dark .center-menu {
  color: white;
  background-color: #282c35;
}

.dark .profile-icon {
  color: white;
}

.dark .profile-icon:hover {
  color: #FF7EB3;
}

.dark .logout-btn {
  background-color: #FF7EB3;
  color: white;
}

.dark .logout-btn:hover {
  background-color: #FF5678;
}



/* Media Queries for Responsiveness */
@media screen and (max-width: 599px) {
  .profile-dropdown {
    right: 0;
    top: 50px;
    width: 90%;
    border-radius: 5px;
  }


  .profile-info, .logout {
    padding: 8px 15px;
  }
}

/* Media Queries */
@media screen and (max-width: 599px) {
  .profile-icon {
    font-size: 1.6rem;
  }

  .profile-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
    font-size: 14px;
  }

  .profile-dropdown {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 5px;
  }
  .profile-btn-ul {
    position: absolute;
    left: 0%;
    transform: translateX(-50%);
    min-width: 40vw;
    top: 110%;
  }

  .username, .email {
    font-size: 14px;
  }

  .logout-btn {
    font-size: 14px;
  }

  .profile-info, .logout {
    padding: 8px 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .profile-icon {
    font-size: 2.2rem;
  }

  .profile-button-container {

  }


  .profile-dropdown {
    width: 200px;
    top: 55px;
  }

  .username, .email {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .profile-dropdown {
    width: 240px;
  }

  .profile-button-container {

  }
}
