.login-modal {
  position: absolute;
  background-color: white;
  color: #404040;
  border-radius: 10px;
  height: 368px;
  cursor: pointer;
}
.signup-modal {
  position: absolute;
  background-color: white;
  color: #404040;
  border-radius: 10px;
  height: 660px;
  cursor: pointer;
}
.login-modal:hover,
.signup-modal:hover {
  background-color: #f0f0f0;
}
.profile-btn-ul{
  cursor: pointer;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.profile-button-container {
  position: relative;
  font-family: Arial, sans-serif;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.profile-icon {
  /* color: #ff0072; */
  color: white;
  font-size: 2rem;
  transition: color 0.3s;
}

.profile-icon:hover {
  color: rgb(195, 195, 195);
  /* color: #ff0072; */
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 10px;

  /* background-color: white; */
  border-radius: 8px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 220px;
  padding: 10px 0;
  z-index: 1000;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  border: 1px solid #DDD;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-info, .logout, .center-menu {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 4px;
  width: 100%;
  color: #404040;
  cursor: pointer;

}

.divider {
  height: 1px;
  background-color: #DDD;
  /* margin: 0; */
  margin: 0 15px;
  width: calc(100% - 30px);
  align-self: center;
}

.username, .email {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.username {
  font-weight: bold;
}

/* .logout-btn, .center-menu .black-text-button {
  background-color: #2d545e;
  border: none;
  cursor: pointer;
  font-size: large;
  transition: color 0.3s;
  width: 100%;
  text-align: center;
  color: #e1b382;
} */
.center-menu .black-text-button {
  /* background-color: #2d545e; */
  border: none;
  cursor: pointer;
  font-size: large;
  transition: color 0.3s;
  width: 100%;
  text-align: center;
  /* color: #e1b382; */

}

.logout-btn {
  background-color: #ff0072;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: calc(100% - 20px);
  text-align: center;
  color: white;
  padding: 10px 15px;
}
.logout-btn:hover, .center-menu:hover .black-text-button:hover {
  background-color: #e60066;
}

/* .black-text-button {
  color: #303030;
  font-weight: 500;
  padding: 10px 15px;
  display: block;
  border-top: 1px solid #e1e1e1;
} */

.black-text-button:first-child {
  border-top: none;
}

.black-text-button:hover {
  background-color: #e60066;
}

/* Light Mode Style */
.light .profile-button-container,
.light .profile-dropdown,
.light .profile-info,
.light .logout,
.light .center-menu {
  color: #404040;
}

.light .profile-icon {
  color: #404040
}

.light .profile-icon:hover {
  color: #ff0072;
}

.light .logout-btn {
  background-color: #ff0072;
  /* color: white; */
}

.light .logout-btn:hover {
  background-color: #e60066;
}

/* Dark Mode Style */
/* .dark .profile-button-container, */
.dark .profile-dropdown,
.dark .profile-info,
.dark .logout,
.dark .center-menu {
  color: white;
  background-color: #282c35;
}

.dark .profile-icon {
  color: white;
}

.dark .profile-icon:hover {
  color: #ff7f47;
}

.dark .logout-btn {
  background-color: #ff7f47;
  color: white;
}

.dark .logout-btn:hover {
  background-color: #ff7f47;;
}

/* Media Queries */
@media screen and (max-width: 599px) {
  .profile-icon {
    font-size: 1.8rem;
  }

  .profile-dropdown {
    /* width: 100%; */
    right: 0;
    top: 50px;
  }

  .username, .email {
    font-size: 16px;
  }

  .logout-btn {
    font-size: medium;
  }

  .profile-info, .logout {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .profile-icon {
    font-size: 2.2rem;
  }

  .profile-dropdown {
    width: 200px;
    top: 55px;
  }

  .username, .email {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .profile-dropdown {
    width: 240px;
  }
}
