.user-navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  z-index: 100;
  border-bottom: 2px solid #e8e8e8;

  position: relative;
}

.about-dropdown {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.about-section {
  padding: 15px;

}
.navigation-links a {
  margin-right: 20px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.navigation-links a:hover {
  text-decoration: underline;
}

.navigation-links a.active {
  font-weight: bold;
}

.navigation-links a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.create-post-button {
  margin-right: 20px;
  text-decoration: none;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s;
  /* z-index: 10000; */
}

.create-post-button:hover {
  text-decoration: underline;
}

/* Light Mode Styles for Navigation Bar */
.light .user-navigation-bar {
  /* background-color: #ff0072; */
  background: linear-gradient(to right, #d3b8ae, #ff0072);
  color: white;
}

.light .navigation-links a {
  /* color: #ff0072; */
  color: white;
}

.light .navigation-links a:hover {
  text-decoration: underline;
  color: #e60066;
  color: white;
}

.light .navigation-links a.active {
  color: #ff0072;
  color: white;
}

.light .create-post-button {
  color: #ff0072;
}

.light .create-post-button:hover {
  text-decoration: underline;
  color: #e60066;
}

/* Dark Mode Styles for Navigation Bar */
.dark .user-navigation-bar {
  /* background-color: #ff7f47; */
  background: linear-gradient(to left, #404040, #ff7f47);
  color: rgb(213, 213, 213);
}

.dark .navigation-links a {
  color: #ff7f47;
  color: white;
}

.dark .navigation-links a:hover {
  text-decoration: underline;
  color: #fd6a2b;
  color: white;
}

.dark .navigation-links a.active {
  color: #ff7f47;
  color: rgb(255, 255, 255);
}

.dark .create-post-button {
  color: white;
  background-color: #ff7f47;
}

.dark .create-post-button:hover {
  text-decoration: underline;

}

.dark .about-dropdown {
  background-color:  #404040;
  color:white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}




/* Media Queries */

/* Small Devices, Phones */
@media (max-width: 600px) {
  .navigation-links a {
    margin-right: 10px;
    font-size: 14px;
  }

  .user-navigation-bar {
    flex-direction: column;
    align-items: start;
  }

  .navigation-links a.active::after {
    bottom: -5px;
  }
}

/* Medium Devices, Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .navigation-links a {
    margin-right: 15px;
    font-size: 16px;
  }

  .user-navigation-bar {
    padding: 15px;
  }
}

/* Large Devices, Desktops */
@media (min-width: 1025px) {
  .navigation-links a {
    margin-right: 20px;
    font-size: 18px;
  }

  .user-navigation-bar {
    padding: 20px;
  }
}
