.load-more-pagination {
  text-align: center;
  margin-top: 20px;
}

.load-more-pagination button {
  background-color: transparent;
  color: #ff0072;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
  transition: background-color 0.3s ease;
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.load-more-pagination button:hover {
  background-color:#a8004c;
}

.dark .load-more-pagination button {
  background-color: transparent;
  color:#ff7f47;
}

.dark .load-more-pagination button:hover {
  background-color:#e66a3f;
}
