.tag-search-container {
  position: relative;
  font-family: Arial, sans-serif;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
}

.tag-search-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.tag-search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 100;
}

.tag-search-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tag-selected-button {
  color: #303030;
  border: none;
  padding: 6px 12px;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag-selected-button span {
  margin-left: 5px;
  font-weight: bold;
}
.tag-search-input:focus::placeholder {
  color: transparent;
}

/* Dark Mode for Tag Search */
.dark .tag-search-container {

}
/* .dark .tag-search-input::placeholder {
  color: white;
  opacity: 1;
}
.dark .tag-search-input {
  background-color: #282c35;
  color: white;
  border: 2px solid #ff7f47;
}

.dark .tag-search-input:focus {
  border-color: #ff7f47;
}

.dark .tag-search-dropdown {
  background-color: #333333;
  color: white;
}

.dark .tag-search-item {

  background-color: #404040;
  color: white;
}

.dark .tag-search-item:hover {
  background-color: #ff7f47;
  color: white;
}

.dark .tag-selected-button {
  background-color: #ff7f47;
  color: white;
}

.dark .tag-selected-button:hover {
  background-color: #fd6a2b;
} */

/* Light Mode for Tag Search */
/* .light .tag-search-container {

}
.light .tag-search-input::placeholder {
  color: black;
  opacity: 1;
}
.light .tag-search-input {
  background-color: #F0F0F0;
  color: #404040;
  border: 2px solid #ff0072;
}

.light .tag-search-input:focus {
  border-color: #ff0072;
}

.light .tag-search-dropdown {
  background-color: white;
  color: #404040;
}

.light .tag-search-item {

  background-color: white;
  color: #404040;
}

.light .tag-search-item:hover {
  background-color: #ff0072;
  color: white;
}

.light .tag-selected-button {
  background-color: #ff0072;
  color: white;
}

.light .tag-selected-button:hover {
  background-color: #e60066;
} */
.dark .tag-search-input::placeholder {
  color: white;
  opacity: 1;
}

.dark .tag-search-input {
  background-color: #2D2D2D;
  color: white;
  border: 2px solid #FF7EB3;
}

.dark .tag-search-input:focus {
  border-color: #FF5678;
}

.dark .tag-search-dropdown {
  background-color: #333333;
  color: white;
}

.dark .tag-search-item {
  background-color: #404040;
  color: white;
}

.dark .tag-search-item:hover {
  background-color: #FF5678;
  color: white;
}

.dark .tag-selected-button {
  background-color: #FF7EB3;
  color: white;
}

.dark .tag-selected-button:hover {
  background-color: #FF5678;
}

.light .tag-search-container {
  /* Your container styles (if any) */
}

.light .tag-search-input::placeholder {
  color: black;
  opacity: 1;
}

.light .tag-search-input {
  background-color: #FAFAFA;
  color: #404040;
  border: 2px solid #FFA69E;
}

.light .tag-search-input:focus {
  border-color: #FF7EB3;
}

.light .tag-search-dropdown {
  background-color: white;
  color: #404040;
}

.light .tag-search-item {
  background-color: white;
  color: #404040;
}

.light .tag-search-item:hover {
  background-color: #FFA69E;
  color: white;
}

.light .tag-selected-button {
  background-color: #FFA69E;
  color: white;
}

.light .tag-selected-button:hover {
  background-color: #FF7EB3;
}


/* Media query for tablets */
@media (max-width: 768px) {
  .tag-search-container {
    max-width: 250px;
  }

  .tag-search-input,
  .tag-search-dropdown {
    font-size: 14px;
  }

  .tag-search-item,
  .tag-selected-button {
    padding: 8px 12px;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .tag-search-container {
    max-width: 100%;
    margin: 0 10px;
  }

  .tag-search-input {
    padding: 8px 10px;
    border-radius: 15px;
  }

  .tag-search-item {
    padding: 6px 10px;
  }

  .tag-selected-button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 12px;
  }

}
