.album-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.form-group .album-form-input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.album-form-btn[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error {
  color: #ff6b6b;
  margin-top: 10px;
}

.dark .album-form {
  color: white;
  background-color: #282c35;
}

.dark .form-group .album-form-input[type="text"] {
  background-color: #404040;
  color: white;
  border-color: #ff7f47;
}

.dark .album-form-btn[type="submit"] {
  background-color: #ff7f47;
  color: white;
}

.dark.album-form-btn[type="submit"]:hover {
  background-color: #e66a3f;
}

.light .album-form  {
  color: #404040;
  background-color: #ffffff;
}

.light .form-group .album-form-input[type="text"] {
  background-color: #f0f0f0;
  color: #404040;
  border-color: #ff0072;
}

.light .album-form-btn[type="submit"] {
  background-color: #ff0072;
  color: white;
}

.light .album-form-btn[type="submit"]:hover {
  background-color: #e60066;
}

@media screen and (max-width: 768px) {
  .form-group .album-form-input[type="text"] {
    padding: 8px;
  }

  .album-form-btn[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
  }

}
